<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API JWT</title>
</head>

<style>
    body {
        width: auto;
    }
</style>

<body>
    <h1>Endpoints</h1>
    <ul>
        <li>api/login</li>
        <li>api/register</li>
        <li>api/logout</li>
        <li>api/user</li>
        <li>api/users</li>
        <li>api/delete/int:pk</li>
        <li>api/logout/int:pk</li>
        <li>api/retrive/int:pk</li>
    </ul>
</body>

</html>